<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>GameChaser</title>
</head>

<body>
    

    <div>
        {{{body}}}
    </div>


<footer class="fixed z-20 bottom-0 w-full md:p-3 bg-gradient-to-b from-blue-500 via-white to-pink-500 border-t border-black"> 

<div>
    <div>
        <h2 class="flex justify-center font-extrabold mb-2 text-lg">Game Chaser developed by: </h2>
    </div>
    <div>
        <ul class="flex justify-center content-between"> 
            <li class="inline-block mr-6 ml-6"> 
                <a href="https://github.com/AcoderRose" class="underline font-bold text-sm">Adam Rosenberg</a>  
            </li>
            <li class="inline-block mr-6 ml-6">
                <a href="https://github.com/Justino11247" class="underline font-bold text-sm">Justin Herrera</a>
            </li>
            <li class="inline-block mr-6 ml-6">
                <a href="https://github.com/hweltzien" class="underline font-bold text-sm">Heather Weltzien</a>
            </li>
            <li class="inline-block mr-6 ml-6">
                <a href="https://github.com/taperez1989" class="underline font-bold text-sm">Ted Perez</a>
            </li>
            <li class="inline-block mr-6 ml-6">
                <a href="https://github.com/haartmuhn" class="underline font-bold text-sm">Andrew Hartmann</a>
            </li>
        </ul>
    </div>
</div>
</footer>

    
</body>


</html>