  <div class="bg-gray-400 w-screen">
    <header class="flex justify-center py-12">
      <img src="./images/about us.png" alt="logo with Pink and blue swirls with the words about us in the middle" class="w-1/2">
    </header>

    <section class="text-center py-9 px-4">
      <h2 class="text-2xl font-bold">Our Mission</h2>
      <p class="mt-4 text-black max-w-2xl mx-auto">
        Our mission is to provide a space for gamers to find new games to love! We want users to be able to find new titles based on whatever specifications they prefer. We hope to unite gamers all around the world and create a safe space for all to game.
      </p>
    </section>

    <section class="bg-black text-white py-12 px-4">
      <h2 class="text-2xl font-bold text-center">Our Vision</h2>
      <p class="mt-4 text-center max-w-2xl mx-auto">
        Gaming anytime, anywhere. We aim to revolutionize the gaming industry by making a quality gaming library accessible to everyone.
      </p>
    </section>

    <section class="bg-gray-100 py-12 px-4">
      <h2 class="text-2xl font-bold text-center">Plans for Future Development</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 max-w-5xl mx-auto">
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Friends List</h3>
          <p class="text-gray-700 mt-2">Add other gamers who are interested in similar games or find someone to play genres that pique your interest.</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Group/Private Messaging</h3>
          <p class="text-gray-700 mt-2">Connect with others to find your new duo. Or create groups to take on the lobbies with a team!</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Achievements</h3>
          <p class="text-gray-700 mt-2">We plan to link games to your account so that you can unlock achievements through our application.</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Leaderboards</h3>
          <p class="text-gray-700 mt-2">Compete against players all around the world to see who can top our leaderboard!</p>
        </div>
      </div>
    </section>


    <footer class="bg-gray-400 text-white text-center py-8">
      
    </footer>
  </div>

  {{!-- <script src="../public/js/about.js"></script> --}}