<div class="p-5 md:p-10">
    <div
        class="columns-1 gap-5 lg:content-auto sm:columns-2 lg:columns-4 xl:columns-6 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(first-child)]:mt-8 display-games p-2 grid gap-2 grid-cols-5">

       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image1.jpg" alt="Animal Crossing">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image10.jpg" alt="Cyberpunk">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image2.png" alt="Ape Escape 3">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image3.jpg" alt="Assassins Creed">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image4.jpg" alt="Baldurs Gate">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image5.png" alt="Stardew Valley">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image11.png" alt="Diablo IV">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image7.png" alt="Mario Party 8">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image9.png" alt="Call of Duty">
       
            <img class="flex-1 rounded hover:opacity-75" src="./images/image12.png" alt="Donkey Kong">

        {{!-- {{#each games}}
        <div class="">
            <img src="{{image}}" alt="{{name}}" class="game-card-img">

        </div>
    </div>
    {{/each}} --}}

</div>
</div>