<div class="p-5 md:p-10">
    <div
        class="columns-1 gap-5 lg:content-auto sm:columns-2 lg:columns-4 xl:columns-6 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(first-child)]:mt-8 display-games p-2 grid gap-2 grid-cols-5">

       

      {{#each games}}
            <img class="flex-1 rounded hover:opacity-75" src="{{this.src}}" alt="{{this.alt}}">
        {{/each}}
       

</div>
</div>