<div class="w-full h-screen bg-gray-400  lg:w-1/2 flex items-center justify-center"><!--LOGO left side-->
  <div class="flex mb-200 justify-center">
    <img src="/images/game chaser logo 3.0.png"
      alt="logo of a skeleton hand with a gaming controller in it with the words Game Chaser" class="w-3/4 h-3/4">
  </div>
</div>
<div class="w-full h-screen bg-gray-400 lg:w-1/2 flex items-center justify-center">
  <div class="max-w-md w-full p-6">
    <h2 class="text-3xl font-semibold mb-6 text-black text-center">You are signed out of your account.</h2>




  </div>
  <script src="/js/logout.js"></script>
</div>