<div class="w-full lg:w-1/2 flex items-center justify-center text-white">


    <img src: "./images/under-construction.jpg" alt="under construction">

    <p>Please excuse our appearance while we are under construction.</p>
</div>