


<div class="w-full h-screen bg-gray-400  lg:w-1/2 flex items-center justify-center"><!--LOGO left side-->
    <div class="flex mb-200 justify-center">
      <img src="./images/under-construction.jpg" alt="site under construction" class="w-3/4 h-3/4">
    </div>
  </div>
  <div class="w-full h-screen bg-gray-400 lg:w-1/2 flex items-center justify-center"><!--Form left side-->
    <div class="max-w-md w-full p-6"><!--Login-->
      <h2 class="text-3xl font-semibold mb-6 text-black text-center">Please excuse our appearance while we are under construction.</h2>
      
      
     
      
    </div>
  </div>